<div class="large-12 columns">
  <div class="fill-in-form">
    <h1> Log in </h1>

    <%= render 'common/flash' %>

    <%= form_for :session, url: sessions_path do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%=f.password_field :password %>

      <%= f.submit "Welcome Back", id: "signin", class: "button" %>

    <% end %>
  </div>
</div>