<div class="large-12 columns">
  <div class="fill-in-form">
    <h1> Book </h1>
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>

    <p>
      <%= image_tag @book.book_cover_url %>
    </p>

    <%= link_to 'Edit', edit_book_path(@book) %> |
    <%= link_to 'Back', books_path %>

  </div>
</div>