<div class="large-12 columns">
  <div class="fill-in-form">
    <p id="notice"><%= notice %></p>

    <p>
      <strong>Title:</strong>
      <%= @book.title %>
    </p>

    <p>
      <strong>Author:</strong>
      <%= @book.author %>
    </p>

    <p>
      <%= image_tag @book.book_cover_url %>
    </p>

    <%= link_to 'Edit', edit_book_path(@book), class: "button expand"  %>
    <%= link_to 'Back', books_path, class: "button expand"  %>

  </div>
</div>