<div id="browse-bg">
  <div class="large-12 columns">
    <div class="browse">
      <div class="row">
        <div class="large-4 medium-4 small-12 columns">
          <h3 class="browse-title">Browse all shelves </h3>
            <%= form_tag(search_browse_index_path, method: "get") do %>
            <%= text_field_tag(:q) %>
            <%= submit_tag "Search Shelves", :class => "button expand" %>
            <% end %>
            <%= link_to 'Welcome Page', root_path, class: "button expand" %>
            <%= link_to 'Browse Page', browse_index_path, class: "button expand" %>
          </div> <!-- end large 4 -->
        <div class="large-8 medium-8 small-12 columns">
          <div class="row">
            <h3 class="browse-title"> Search Results </h3>
            <table>
              <thead>
                <tr>
                  <th>Cover</th>
                  <th>Title</th>
                  <th>Author</th>
                </tr>
              </thead>
              <tbody>
                <% if @results.empty? %>
                  <td class="noresults">Sorry, no books by that title or author.</td>
                <% else %>
                  <% @results.each do |book| %>
                    <tr>
                      <td class="cover"><%= image_tag book.book_cover_url, alt: book.title %></td>
                      <td class="title"><%= book.title %></td>
                      <td class="author"><%= book.author %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
