<h1> Welcome, <%= @user.name %>! </h1>
<p class="button"><%= link_to 'Welcome Page', root_path %> 
<%= link_to 'Back', users_path %></p>
<p class="user_info">
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p class="user_info">
  <strong>Email:</strong>
  <%= @user.email %>
</p>
