<h1> Welcome, <%= @user.name %>! </h1>
<p><%= link_to 'ProfileSettings', edit_user_path %> <%= link_to 'MyShelf', books_path %>  (Browse Libraries)</p>
<p class="user_info">
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p class="user_info">
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p class="button"><%= link_to 'Welcome Page', root_path %> 