<h1> Log in page, welcome </h1>

<%= render 'common/flash' %>

<%= form_for :session, url: sessions_path do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%=f.password_field :password %>

  <%= f.submit "Welcome Back!", id: "signin" %>

<% end %>
