<h1> Browse Libraries </h1>

<%= form_tag(search_browse_index_path, method: "get") do %>
  <%= label_tag(:q, "Search everyone's shelves!") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search shelves") %>
<% end %>

<p class="button"><%= link_to 'Welcome Page', root_path %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th colspan="2"></th>
    </tr>
  </thead>
<tbody>
    <% @display_books.each do |book| %>
      <tr>

        <td class="title"><%= book.title %></td>
        <td class="author"><%= book.author %></td>

      </tr>
    <% end %>
</tbody>
</table>